
body {
    /*font-family: 'oregano', cursive;*/
    font-family:'Courier New', Courier, monospace

}
#title {
    color: lightblue;
}

.places {
    font-family:'Courier New', Courier, monospace
}
.cities {
    color: purple;
}
img {
    width: 200px;
    border-radius: 10px;
    border: 5px solid black;
    filter: grayscale(50%)
}